{% extends 'shared/base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block site_content %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" enctype="multipart/form-data" action="{% url 'edit profile' user.id %}">
        <fieldset>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
            <div class="form-container-mini">

                <!-- Form for Editing Profile -->
                {{ form }}
                {% csrf_token %}
                <input name="image" type="file" class="form-control-file">
                <!-- Button for Editing Profile -->
                <button class="edit-album" type="submit">Edit Profile</button>
                <a href="{% url 'show profile' user.id %}" class="remove">Go Back </a>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}