{% extends 'shared/base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block site_content %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" enctype="multipart/form-data" action="{% url 'edit profile' user.id %}">
        <fieldset>
            <legend>Edit Profile</legend>
            <div class="form-container-mini">
                <!-- Form for Editing Album -->
                {{ form }}
                {% csrf_token %}
                <!-- Button for Editing Album -->
                <input name="image" type="file" class="form-control-file">
                <button class="edit-album" type="submit">Edit Profile</button>
                <a href="{% url 'show profile' user.id %}" class="remove">Go Back </a>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}