{% extends 'shared/site.html' %}
{% block site_content %}
<h1 class="text-center"> Edit Pet Photo</h1>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="post" action="{% url 'edit pet' pet.pk %}" class="furniture-form">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary mt-2" type="submit">Edit</button>
        </form>
        <img id='image_preview' src="{{ pet.image_url }}" class="card-img-top" alt="...">
    </div>
    <div class="col-lg-3"></div>
</div>
<script>
    function updateImage() {
        var img = document.getElementById('image_preview');
        var url = this.value;
        img.src = url;
    }
    document.getElementById('img_input')
        .addEventListener('input', updateImage);
</script>
{% endblock %}