{% extends 'shared/base.html' %}
{% load static %}
{% block site_content %}

<body> <!-- Include the body tag -->
    <div class="trip-wrapper">
        <div class="trip-image">
            <!-- Content for image container (1) -->
            {% include 'trips/gallery.html' with trip=trip %}
        </div>
        <div class="trip-details">
            <ul>
                <section id="detailsPage">
                    <div class="wrapper-image">
                        <div class="albumInfo">
                            <div class="albumText">
                                <!-- Album Info -->
                                <h1>Trip Details</h1>
                                <h3> {{ trip.title }} </h2>
                                <h3>User: {{ trip.author }}</h3>
                                <h4>country: {{ trip.country }}</h4>
                                {% if trip.rating %}
                                <h4>Rating: {{ trip.rating }}</h4>
                                {% endif %}
                                <p>{{ trip.description }}</p>
                            </div>
                            {% if trip.author.email == user.email %}
                            <div class="actionBtn-image">
                                <!-- Album Buttons -->
                                <a href="#" class="edit">Edit</a>
                                <a href="#" class="remove">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </ul>
        </div>
</body>
{% endblock %}