{% extends 'shared/nav.html' %}
{% block site_content %}
<!-- Create Profile Form -->
<section id="register">
    <div class="form">
        <h2>Create Profile</h2>
        <form class="register-form" method="post" action="{% url 'create profile' %}">
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.password }}
            {{ form.non_field_errors }}
            {{ form.errors }}
            {% csrf_token %}
            <button type="submit">Create</button>
        </form>
    </div>
</section>
{% endblock %}