{% extends 'shared/base.html' %}
{% block title %} Add trip {% endblock %}
{% block site_content %}
<form method='POST' action="" enctype="multipart/form-data">
    <fieldset>
        <div class="form-container-mini">
            {% csrf_token %}
            {{ form.as_p }}
            <label>Upload image</label>
            <input name="images" type="file" multiple class="form-control-file">
        </div>
        <button type="submit" class="register">Enter</button>

    </fieldset>
</form>
{% endblock %}