<form method="post" action="{% url 'register user' %}">
    <fieldset>
        <legend>Profile</legend>
        <div class="form-container-mini">
            <!-- Form for Registration -->
            <label for="id_username" class="form-label requiredField">
                Username<span class="asteriskField">*</span> </label>
            <input type="text" name="username" maxlength="150" autofocus="" class="textinput form-control"
                required="" id="id_username">
            <div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label requiredField">
                    Email<span class="asteriskField">*</span> </label> <input type="email" name="email"
                    maxlength="320" class="emailinput form-control" required="" id="id_email"> </div>
            <label for="id_password1" class="form-label requiredField">
                Password<span class="asteriskField">*</span> </label>
            <input type="password" name="password1" autocomplete="new-password"
                class="passwordinput form-control" required="" id="id_password1">
            <label for="id_password2" class="form-label requiredField">
                Password confirmation<span class="asteriskField">*</span> </label>
            <input type="password" name="password2" autocomplete="new-password"
                class="passwordinput form-control" required="" id="id_password2">
                            <!-- Button to Create Profile -->
        </div>
        <p>Have an account? Login <a href="{% url 'home' %}">Here</a>!</p>
        <button type="submit" class="register">Enter</button>

    </fieldset>
    {% csrf_token %}
</form>