<form method="post" action="{% url 'home' %}">
    <fieldset>
        <legend>Login</legend>
        <div class="form-container-mini">
            <!-- Form for Login -->
            <div id="div_id_username" class="mb-3"> <label for="id_username" class="form-label requiredField">
                    Username<span class="asteriskField">*</span> </label> <input type="text" name="username"
                    autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
                    class="textinput form-control" required="" id="id_username"> </div>
            <div id="div_id_password" class="mb-3"> <label for="id_password" class="form-label requiredField">
                    Password<span class="asteriskField">*</span> </label> <input type="password" name="password"
                    autocomplete="current-password" class="passwordinput form-control" required="" id="id_password">
            </div>
        </div>
        <p>Don't have an account? Create one <a href="/register">Here</a>!</p>
        <button type="submit" class="register">Enter</button>

    </fieldset>
    {% csrf_token %}
</form>